*{
  margin:0px;
  padding:0px;
}
.car{
  width:250px;
  box-shadow:0px 0px 10px rgb(3, 10, 43);
  padding:60px;
  margin-top:80px;
  border-radius:50%;
  cursor: pointer;


}

input::placeholder{
  color:black;
}

button{
    cursor: pointer;

}
h1{
  text-decoration: underline;
  margin-bottom:10px;
}
.c{
  width:95%;
  margin:10px;
  padding:5px;
  background:salmon;
}
.card{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
background: radial-gradient(#43cea2, #185a9d);
  min-height:100vh;
}
input{
  width:90%;
  margin:10px;
  padding:3px;
  border:none;
  background:none;
  border-bottom:2px solid red;
   outline: none; 
     cursor: pointer;

}




button:hover{
  background:peru;
}
.car:hover{
  border-left:20px solid red;
  border-right:20px solid orange;
  border-top:1px solid brown;
  border-bottom:2px solid sandybrown;
  

}
small button{
  width:100px;
  height:20px;
  color:white;
  background:gray;
}
small button:hover{
  background:orange;
  color:black;

}
.car{
  border-left:20px solid  #43cea2;
  border-right:20px solid #1a63a0;;
  border-top:1px solid rgb(179, 142, 93);
  border-bottom:1px solid sandybrown;
  


}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pop {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

/* Mobile Optimization */
@media (max-width: 480px) {
  .car {
    padding: 30px 35px;
    margin-top:50px;
  }

  h1 {
    font-size: 20px;
  }
  small{
  margin:10px;
}

  .card{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:skyblue;
  min-height:100vh;
}
  
}