/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 15px 20px;
  flex-wrap: wrap;
}

.nav h1 {
  font-size: 20px;
}

.c1 {
  padding: 8px 20px;
  background: crimson;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
@media(max-width:500px){
    .c1{
        width:100%;
        margin:10px;
    }

}

.c1:hover {
  background: darkred;
  transform: scale(1.05);
}

/* Video Grid */
.card1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background: #f5f5f5;
}

/* Responsive Video Box */
.video-box {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.video-box:hover {
  transform: translateY(-5px);
}

.video-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
}
.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px 10px;
  margin-top: 30px;
}

.footer p {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer .social a {
  margin: 0 10px;
  color: #667eea;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.footer .social a:hover {
  color: #ff4d6d;
  transform: scale(1.1);
}